<div id="show">
  <header>Edit Team Member</header>
  <div id="edit_form">
    <%= render 'form' %>

    <%= link_to 'Show', @project %> |
    <%= link_to 'Back', project_team_member_path(@project,@team_member) %>
  </div>
</div>
